<footer>
    <div class="text-center">
        © 2022 · Created by berkkasapoglu
        <a href="https://github.com/berkkasapoglu">
            <i class="fa-brands fa-github fa-xl"></i>
        </a>    
    </div>
</footer>